@charset "UTF-8";
/* CSS Document */
#fb-mosaic{
	width:940px;
	/*margin:11px -11px 11px 11px;*/
	background-color:white;

}
#fb-container{
	width:940px;
	max-width:940px;
}
/*.mCell, .mCell img {
	width: 10px;
	height: 10px;
	float: left;
}*/

#mosaic-container{
	/*padding:11px;*/
	height:600px;
}

/*.highlight{
	height:13px;
	width:13px;
}*/

#t, #b{width:100%; height:1px; }
#r, #l{height:600px; width:1px; }
#t{top:0px;}
#r{right:0px; top:0px}
#b{bottom:0px;}
#l{left:0px; top:0px}

#_d-shadow{
	background-image:url(../img/ancillary/drop-shadow-gig.jpg);
	width:940px;
	height:20px;
}
#footer-wrap{
	top:741px;
}